<!-- templates/cadastrar_veiculo.html -->
{% extends 'base.html' %}

{% block title %}Garage Profile Datail{% endblock %}

{% block content %}
    <div>
        <h2>Pessoa Profile</h2>
            <p> {{ pessoa_profile.user }} </p> 
            <p> {{ pessoa_profile.name }} </p>
            <p> {{ pessoa_profile.phone }} </p>
            <p> {{ pessoa_profile.email }} </p>
    </div>
    <div>
        <h2>Garage Profile</h2>
            <p> {{ garage_profile.pessoa_profile }} </p>
            <p> {{ garage_profile.bio }} </p>
            <p> {{ garage_profile.last_name }} </p>
    </div>
    <div>
        <h2>VAGA</h2>
            {{ vaga.garage_profile }}
            {% if vaga.ocupada %}
                <p> {{ vaga.ocupada }} </p>
            {% else %}
                <p> Vaga não ocupada</p>
            {% endif %}
            <div>
                <p> Desseja alterar? </p>
                <button onclick="location.href = '/garagem/atualizar-vaga/'">Alterar</button>

            </div>
    </div>
    <div>
        <h2>Garagem</h2>

            {% for veiculo in veiculos_list %}
                <h3>Veiculo</h3>
                <p> {{ veiculo.tipo }} </p>
                <p> {{ veiculo.cor }} </p>
                <p> {{ veiculo.ano }} </p>
                <p> {{ veiculo.modelo }} </p>
            {% endfor %}
</div>
{% endblock %}